* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.box {
    width: calc(100% / 7 - 10px);
    height: 150px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.blue {
    background-color: #1389b2
    ;
}

.green {
    background-color: #0bd6a1
    ;
}

.red {
    background-color: #f0466f
    ;
}

.yellow {
    background-color: #ffd166
    ;
}